*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
    min-height: 700px;
}
.content{
    background-color:  hsl(0, 0%, 100%);
    min-height:600px;
    border-radius: 20px;
    width: 550px;
}
.content .firstPage{
    margin: 30px;
    font-size: 20px;
}
.content .firstPage img{
    height: 200px;
    width: auto;
    border-radius: 20px;
}
.content h1{
    font-size: 30px;
    font-weight: 800;
}
.content p{
    margin:10px;
    font-size: 15px;
}
.content .firstPage .preparation{
    margin:10px;
    background-color:hsl(30, 54%, 90%); 
    border-radius: 20px;
    height: 150px;
}
.content .firstPage .preparation h3{
    margin: 5px 20px;
    color:hsl(332, 51%, 32%);
    font-size: 15px;
}
.content .firstPage .preparation ul{
   margin:20px;
   font-size: 15px;
}
.content .firstPage .preparation li{
    margin:10px;
}
.content .firstPage .preparation ul li span{
    font-weight: 800;
}
.content .firstPage .ingredients h2{
    margin:10px;
    font-size: 20px;
    color:hsl(14, 45%, 36%);
}
.content .firstPage .ingredients ul{
    margin: 20px;
    font-size: 15px;
}
.content .firstPage .ingredients ul li{
    margin:10px;
}
/*Second Page Css*/
.content .secondPage h2{
    margin:40px;
    font-size: 20px;
    color:hsl(14, 45%, 36%);
}
.content .secondPage ol{
    margin: 40px;
    font-size: 15px;
}
.content .secondPage ol li{
    margin: 10px;
}