*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Young Serif", serif;
    font-size: 10px;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
    min-height: 700px;
}
.content{
    background-color:  hsl(0, 0%, 100%);
    min-height:600px;
    border-radius: 20px;
    width: auto;
   
}
.content .firstPage img{
    height: 300px;
    width: auto;
    margin: 20px;
    border-radius: 20px;
}